.cine-navbar {
  background: linear-gradient(90deg, #0b1a2f, #101c2f);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.cine-search {
  width: 280px;
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}

.cine-search::placeholder {
  color: #bbb;
}

.cine-search:focus {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  box-shadow: none;
}