:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.9);
  background-color: #0b1220;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at top,
    #121c2b 0%,
    #0b1220 40%,
    #05070d 100%
  );
}